<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMnba0PxL6nsGciTZstSECPKKOf4kxfgY</string>
	<key>GCM_SENDER_ID</key>
	<string>332669507431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ind.Threads-Clone</string>
	<key>PROJECT_ID</key>
	<string>threadsclone-46663</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsclone-46663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332669507431:ios:e74665b3561c53fd2941c2</string>
</dict>
</plist>